# Chemical Data: Structured Data

In [13]:
import pandas as pd

In [38]:
X = pd.read_csv('../data/molorg_features.csv',header = 0)
print X.shape
X.head(n=10)

(1000, 700)

,MW,AMW,Sv,Se,Sp,Si,Mv,Me,Mp,Mi,...,SpMAD_B(p),Ho_B(p),EE_B(p),SM1_B(p),SM2_B(p),SM3_B(p),SM4_B(p),SM5_B(p),SM6_B(p),VE1_B(p)
0,264.37,8.528,21.864,30.698,23.466,33.993,0.705,0.990,0.757,1.097,...,1.645,12.498,5.172,2.991,4.388,5.295,6.526,7.661,8.897,3.875
1,369.62,11.551,24.107,32.222,27.301,34.756,0.753,1.007,0.853,1.086,...,1.578,14.365,5.365,3.183,4.519,5.487,6.719,7.923,9.188,3.727
2,338.52,8.257,27.830,40.433,30.603,44.786,0.679,0.986,0.746,1.092,...,1.593,14.872,5.359,3.209,4.561,5.481,6.700,7.846,9.080,4.076
3,365.48,8.702,30.412,41.683,32.233,45.906,0.724,0.992,0.767,1.093,...,1.684,17.885,5.581,3.315,4.770,5.688,6.957,8.123,9.397,4.371
4,285.54,7.932,22.324,35.283,25.801,39.995,0.620,0.980,0.717,1.111,...,1.443,10.886,4.991,2.974,4.183,5.118,6.279,7.431,8.641,2.983
5,262.38,8.199,20.423,32.222,21.728,36.571,0.638,1.007,0.679,1.143,...,1.539,11.329,4.975,2.856,4.227,5.077,6.279,7.388,8.596,3.710
6,326.36,8.368,27.832,39.167,28.693,42.535,0.714,1.004,0.736,1.091,...,1.664,17.229,5.475,3.193,4.679,5.564,6.843,8.014,9.292,4.038
7,303.53,7.403,25.664,40.091,28.915,45.490,0.626,0.978,0.705,1.110,...,1.500,13.149,5.198,3.087,4.380,5.317,6.511,7.691,8.932,3.530
8,232.36,6.280,21.499,36.483,23.319,41.943,0.581,0.986,0.630,1.134,...,1.469,10.295,4.848,2.816,4.101,4.944,6.112,7.204,8.395,3.263
9,297.44,6.610,27.047,44.469,29.086,50.856,0.601,0.988,0.646,1.130,...,1.518,13.698,5.156,3.060,4.399,5.249,6.442,7.559,8.777,3.783

In [15]:
y = pd.read_csv('../data/molorg_pol.csv', header = 0)
print y.shape
y.head(n=10)

(1000, 1)

   pol_Bohr3
0   198.6203
1   240.7911
2   242.9596
3   274.1072
4   185.0798
5   161.2420
6   235.3045
7   200.4527
8   154.2377
9   213.7634

In [45]:
mols = pd.read_csv('../data/mol.smi',header=None)
mols.head(10)

                                           0
0                c1ccc(nc1)Sc1ccccc1c1ccccn1
1        n1csc(n1)C1SCC(SC1)c1ncc(s1)c1cccs1
2        C1CSC(CS1)c1occ(c1c1ccccc1)c1ccccc1
3    n1ccc(cc1)c1scnc1c1ncccc1c1cccc2c1cccc2
4                C1CSC(CS1)c1ncc(s1)CC1CCCC1
5               CC1NCN(C(N1)c1nsnc1)c1ccccn1
6  o1ccc(c1)c1c(ccc2c1c(ccc2)c1ccco1)c1ccoc1
7           C1CCC(C1)C1CCC(C1c1nccs1)c1cccs1
8                  OC1(CCCC1C1CCCC1)c1cnccn1
9         C1NCN(CN1)c1ccc(cc1)c1cocc1C1CCCC1

## check for missing data

In [23]:
print X.isna().any().sum()
print y.isna().any().sum()
# available options to replace or remove missing data
# pandas: fillna/dropna
# sklearn: imputer

0
0

## check for constant columns

In [39]:
pre_columns = X.columns
X = X.loc[:, (X != X.iloc[0]).any()]
print X.shape
print 'removed columns: ', [i for i in pre_columns if i not in X.columns]

(1000, 699)
removed columns:  ['Psi_i_1s']